# Id of the platform to deploy on (must match the actual OS/distribution for the tests to be successful)
# Choose from: linux.rhel.x86_64, linux.sles.x86_64, win.x86_64
platformId = win.x86_64

# ID of the deployed server instance
instanceId = 1

# Set environment for your deployment: production, test, development
environment = development
# Choose whether or not to deploy Javadoc for release cartridges
#includeJavadoc = false

# Configure the number of used application servers
numberOfAppservers = 1

# Set java location for use in scripts, e.g. to execute the server-startup
# Leave empty if the same java as gradle-process uses should used  
#javaHome = C:/path/to/jdk

# license
licenseFile = C:/path/to/license.xml 

# Important ports
webserverPort = 80
webserverHttpsPort = 443
appserverDebugPort = 6667
testrunnerDebugPort = 6668
dbToolDebugPort = 6669

# The remaining local ports are taken from a port range, should contain 10 free ports (or more for more appserver instances)
# To find out which port is used where, open the target/server/settings.gradle
freePortsStart = 10050
freePortsEnd = 10059

# Database configuration
databaseHost = localhost
databasePort = 1521
databaseSid = xe
# Alternatively to sid set a service name (only use one of both)
# databaseServiceName = XE
databaseTnsAlias = ISSERVER.world
databaseUser = intershop
databasePassword = intershop
oracleClientDir = C:/path/to/oracle/client/dir

# Eureka configuration
#eurekaServer = 
#eurekaAppServerName = 
#eurekaAppSolRServerName = 

# User group and user, uncomment and set on Linux
#user = 
#userGroup = 

# Multicast configuration
# Use the variable multicastIPSuffix to automatically configure your multicast 
# configuration. Set your phone number to configure the last two bytes of the multicast IP, e.g. 12.34
multicastIPSuffix = 12.34
# Use different multicast ports for different deployments of yours
multicastPort = 50000

# To explicitly configure the multicast settings of your installation
# use the following properties.
#appserverMulticastAddress = 239.192.<4-digit phone suffix in groups of 2, e.g ##.##>
#appserverMulticastPort = 50000
#tcmMulticastAddress = 239.193.<4-digit phone suffix in groups of 2, e.g ##.##>
#tcmMulticastPort = 50000
#cacheMulticastAddress  = 239.194.<4-digit phone suffix in groups of 2, e.g ##.##>
#cacheMulticastPort = 50000
#ormMulticastAddress  = 239.195.<4-digit phone suffix in groups of 2, e.g ##.##>
#ormMulticastPort = 50000

webAdapterSharedMemoryKey = 0x2001
